* {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

html {
	scroll-behavior: smooth;
}

header {
	background-color: #ee5253;
	height: 90vh;
}

.conteudo-titulo {
	text-align: center;
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
}

nav {
	position: sticky;
	top: 0;
}

ul {
	list-style-type: none;
	background-color: #e74c3c;
	width: 100%;
	height: 10vh;
	float: left;

}

ul li {
	float: left;
}

ul a {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 1em;
	line-height: 2.2em;
	color: #fff;
	word-spacing: 8px;
	text-indent: 200px;
}

ul a:hover {
	color: #000;
}
/*aaaaaaaaaaa*/




#box1, #box2, #box3, #box4 {
	height: 100vh;
}

#box1 {
	background-color: #1dd1a1;
}

#box2 {
	background-color: #feca57;
}

#box3 {
	background-color: #54a0ff;
}

#box4 {
	background-color: #576574;
}

h2 {
	/*border: 1px solid red;*/
	padding-top: 100px;
	padding-left: 10px;
}